.post, .comment {
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.comment {
    background-color: #74d2fc;
}

.post > div, .comment > div {
    font-size: 22px;
    font-weight: bold;
}

.comment > div {
    color: white;
}